.fongle-blue{
	color:white;
	background-color:#00BCD5;
}

.fongle-light-gray{
	color:white;
	background-color:#BDBDBD;
}

.fongle-dark-gray{
	color:white;
	background-color:#504E4E;
}

.header-box{
	padding:5px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.box{
	padding: 5px;
	margin-bottom: 8px;
}

